a.active {
    color: rgb(8, 172, 71);
}
a {
    text-decoration: none;
    color: green;
    cursor: pointer;
}

body, ul, li {
    margin: 10;
    padding: 10;
  }
  
  header {
    background-color: #df9de1; 
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  nav {
    padding: 20px;
}
  
  nav ul {
    list-style-type: none; 
  }
  
  nav ul li {
    display: inline; 
    margin-right: 20px; 
    padding: 20px;
  }
  
  nav ul li ul {
    display: none; 
    background-color: #d70cee; 
    padding: 5px; 
  }
  
  nav ul li:hover ul {
    display: block; 
  }
  
  nav ul li ul li {
    display: block; 
    margin-right: 0; 
  }
  
  nav ul li a {
    text-decoration: none; 
    color: #fff; 
    padding: 10px; 
  }
  
  nav ul li a:hover {
    color: rgb(72, 255, 0); 
  }

  .contacts {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    row-gap: 10px;
    margin-right: 50px;
}
.call {
    
        border-radius: 30px;
        color: green;
        background-color: yellow;
        font-size: 20px;
        padding: 10px 10px 10px;
        padding: 10px 15px;
        text-transform: uppercase;
        font-weight: bold;
        cursor: pointer;
        border: none;
}  